In [1]:
import pandas as pd

In [2]:
data1=pd.read_excel(r'C:\Users\d.mishra\Desktop\abhishek\my1.xlsx')

In [3]:
data1

   s,no.       date     p/l
0      1 2021-10-25     NaN
1      2 2021-10-26 -3500.0
2      3 2021-10-27 -1941.0
3      4 2021-10-28  -239.0
4      5 2021-10-29 -5888.0
5      6 2021-10-30     NaN

In [5]:
pd.read_csv(r'C:\Users\d.mishra\Desktop\abhishek\my2.csv')

   s,no.    date     p/l
0      1  25-Oct     NaN
1      2  26-Oct -3500.0
2      3  27-Oct -1941.0
3      4  28-Oct  -239.0
4      5  29-Oct -5888.0
5      6  30-Oct     NaN

In [36]:
pd.read_csv(r'C:\Users\d.mishra\Desktop\abhishek\my3.tsv')

   NAME\tROLLNO\tAGE
0       ANIL\t45\t45
1  PRABHAT\t43\t23\t
2     ABHI\t32\t23\t
3       AMIT\t45\t34

OSError: [Errno 22] Invalid argument: '\u202a\u202aC:\\Users\\d.mishra\\Desktop\\abhishek\\my11.csv'